<!DOCTYPE html>
<html>
  <head>
    <style>
      body {background-color: #EAF6FF;}
      h3   {color: #2A2A72;}
      p    {color: #232528;}
      div  {display: inline-block; padding: 17px 10px;}
    </style>
  </head>
  <body>
    <h1>Count of jobs by level of interest</h1>
    <div class="">
      <% @jobs.count_of_jobs_by_level_of_interest.each_pair do |k, v| %>
      <strong>Level of Interest:</strong> <%= k %> <p>Jobs: <%= v %></p>
      <% end %>
    </div>
    <h1>Highest average level of interest by Company ID</h1>
    <div class="">
      <h1><% @jobs.highest_average_level_of_interest_by_company.each do |job| %></h1>
      <strong>Company with ID:</strong> <%= job[1] %> <p>Average: <%= job[0].round(1) %></p>
      <% end %>
    </div>
    <hr>
    <%= link_to "Companies", companies_path %>
  </body>
</html>
